.dygraph-legend {
  left: 80px !important;
  background-color: transparent !important;
}

.dygraph-label { font-size: 16px}

.dygraph-title { font-size: 18px}

.btn-primary {
  border-radius: 4px;
}

.choose {
	background-color:#00ccff;
	border-radius:4px;
	border:2px solid #00ccff;
	width: 100%;
	cursor:pointer;
	box-shadow: 0px 10px 14px -7px #f0f7fa;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	text-decoration:none;
}

.choose:hover {
	background-color:#019ad2;
	border:2px solid #019ad2;
}

.shiny-output-error { visibility: hidden; 
}

.shiny-output-error:before { visibility: hidden; }

  .col2 {
    columns: 2 200px;         /* number of columns and width in pixels*/
    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
  vertical-align: top;
  }
  
  .inst {
    min-height:200px; 
    background-color:white
  }
  
  
  .help-tip{
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    z-index: 100;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    z-index: 100;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}
